/build-Application-Desktop-Debug/
/build-MyLibrary-Desktop-Debug/
/build-MyLibrary-Desktop_Qt_5_10_0_GCC_64bit-Debug/
/build-TrafficCounter-Desktop-Debug/
/build-TrafficCounter-Desktop_Qt_5_10_0_GCC_64bit-Debug/
/build-TrafficCounter-Desktop_Qt_5_10_0_GCC_64bit-Default/
/build-udpgen-Desktop-Debug/
/build-udpgen-Desktop-Release/
/build-udpgen-Desktop_Qt_5_10_0_GCC_64bit-Release/
/build-*
.idea