# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Class-Wizard classes
*.clw
# Qt-es
/.qmake.cache
/.qmake.stash
*.user
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*
*.cmake
# QtCreator
*.autosave
#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
# Other files
*.aps
*.ncb
*.opt
*.plg
*.mdb
# Workspace files
workspace.xml
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.*~
# Executables
*.exe
*.out
*.app
#Log files
LogFile_*.txt
# Debug-release dirs
Debug/
Release/
bin/
build/
exe/
