<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="DML File" value="DML/DML.z0lib" />
    <add key="DML Network File" value="http://www.z-zero.com/support/lib/DML.z0lib" />
    <add key="MRU File" value="MRU/MRU.txt" />
    <add key="Settings File" value="Settings.xml" />
    <add key="Settings Folder" value="Settings" />
    <add key="Help Folder" value="Help" />
    <add key="Tutorial File" value="Z-planner Tutorial.chm" />
    <add key="Tutorial Topics File" value="Z-planner topics.xml" />
    <add key="Generic Stackups Folder" value="Generic Stackups" />
    <add key="Custom Filters Folder" value="Custom Filters" />
    <add key="Layout Folder" value="Layout" />
    <add key="MRU Limit" value="10" />
    <add key="Source Type" value="XML" />
    <add key="Commands Limit" value="1000" />
    <add key="Use Local Settings" value="false" />
    <add key="FS Build Version" value="9.4.2" />
    <add key="FS Build Date" value="1/12/2017" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="network">
        <network host="smtp.gmail.com" port="587" userName="ENTER YOUR GOOGLE-MAIL ADDRESS" password="ENTER YOUR PASSWORD" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>