spring.kafka.bootstrap-servers=SPRING_KAFKA_BOOTSTRAP_SERVERS
spring.kafka.topic=SPRING_KAFKA_TOPIC
spring.kafka.groupId=SPRING_KAFKA_GROUPID

#push server
spring.push.url=SPRING_PUSH_URL

#time (in minutes) service
spring.push.silence_tolerance=SPRING_PUSH_SILENCE_TOLERANCE

#number of notifications pushed to mobile app before giving up (0 suppresses notifications at all)
spring.push.inactive_notifications=SPRING_PUSH_INACTIVE_NOTIFICATIONS
spring.push.no_signal_notifications=SPRING_PUSH_NO_SIGNAL_NOTIFICATIONS
spring.push.bad_signal_notifications=SPRING_PUSH_BAD_SIGNAL_NOTIFICATIONS
spring.push.silence_notifications=SPRING_PUSH_SILENCE_NOTIFICATIONS
spring.push.connection_down_notifications=SPRING_PUSH_CONNECTION_DOWN_NOTIFICATIONS

spring.mongo.URI=SPRING_MONGO_URI
spring.mongo.database=SPRING_MONGO_DATABASE

#period of time when data is kept in DB (days)
spring.mongo.cleanup=SPRING_MONGO_CLEANUP
